@model IEnumerable<Comment>

    <!--CreateComment-->
<div class="card mb-4 sticky-top">
    <div class="card-header bg-transparent">
        <form class="form-inline" asp-controller="Comments" asp-action="Create" asp-route-id="@ViewBag.Id" method="post">
            <div class="input-group w-100">
                <input type="text" maxlength="500" name="Content" placeholder="Yorum yap..." class="form-control form-control-md">
                <button class="btn btn-info" type="submit">Yorumla</button>
            </div>
        </form>
    </div>
</div>
<hr />

<!--ListComments-->

<div id="plist" class="mt-2 people-list">
    <ul class="list-unstyled chat-list mt-2 mb-0">
        @foreach (var comment in Model)
        {
            <a asp-action="Index" asp-controller="Profile" asp-route-userName="@comment.AppUser.UserName">
            <li class="clearfix">
                <img src=@comment.AppUser.ProfilePicture alt="avatar">
                <div class="about">
                    <div class="name">@comment.AppUser.FirstName @comment.AppUser.LastName</div>
                    <div class="status"> <i class="fa fa-circle online"></i> @comment.AppUser.UserName </div>
                    <p class="media-text text-danger">@comment.Content</p>
                    
                </div>
                <small class="float-right">@ViewData[comment.Id.ToString()]</small>
            </li>
            </a>
            @if (comment.AppUser.UserName == User.Identity.Name)
            {
                <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger btn-sm rounded-circle mt-auto"><i class="bi-trash"></i></a>
            }
            <hr />
        }
    </ul>
</div>