@model UserPosts

@if(Model.AppUser == null)
{
	<h2>Kullanıcı bulunamadı!</h2>
}
else
{
    @await Html.PartialAsync("_CommentModal")
    @await Html.PartialAsync("_FollowsModal")
    
    <div class="banner mb-5" style="background-image: url('/img/backgrounds/bg.jpg');">
	    <div class="banner-title d-flex flex-column justify-content-center align-items-center">
		    <img src=@Model.AppUser.ProfilePicture alt="img" class="rounded-circle" width="200" height="200">

            @if (User.Identity.Name == @Model.AppUser.UserName)
            {
                <h2 class="mb-5 text-light border border-light">Merhaba @Model.AppUser.FirstName</h2>
                <a asp-controller="Account" asp-action="EditProfile" class="ml-3 btn btn-info">Profili Güncelle</a>
            }
            else
            {
                <h2 class="mb-5 text-light border border-light">@Model.AppUser.FirstName @Model.AppUser.LastName</h2>
                <div class="container text-center">
                    <a asp-controller="Follow" asp-action="FollowUnFollow" asp-route-Id="@Model.AppUser.Id" asp-route-isComingFromProfile="@true" class="btn btn-info mr-3">@ViewData["followLink"]</a>
                    <a class="btn btn-info mr-3" asp-action="ChatPage" asp-controller="Messages" asp-route-userName="@Model.AppUser.UserName">Mesaj Gönder</a>
                    
                    <a class="link btn btn-info followers mr-3" data-toogle="modal" data-target="/Follow/_ListFollowers/@Model.AppUser.Id">Takipçiler</a>
                    <a class="link btn btn-info followings mr-3 " data-toogle="modal" data-target="/Follow/_ListFollowings/@Model.AppUser.Id">Takip Edilenler</a>
                   
                </div>
                
            }
            
	    </div>
    </div>
    
    <ul class="list-unstyled nav justify-content-center mb-5">

        <li class="nav-item text-center"><a class="link followers" data-toogle="modal" data-target="/Follow/_ListFollowers/@Model.AppUser.Id">Takipçiler</a>---<br> <strong>@Model.AppUser.Followeds.Count</strong></li>

        <li class="nav-item text-center"><a class="link followings" data-toogle="modal" data-target="/Follow/_ListFollowings/@Model.AppUser.Id">Takip Edilenler</a><br> <strong>@Model.AppUser.Followings.Count</strong></li>
    </ul>
  
    <div class="row">
        <div class="col-md-6 offset-md-3 ">
            <table class="table table-bordered table-hover ">

                <tr>
                    <th>Ad:</th>
                    <td class="ml-5">@Model.AppUser.FirstName</td>
      
                </tr>
                <tr>
                    <th>Soyad:</th>
                    <td>@Model.AppUser.LastName</td>
       
                </tr>
                <tr>
                    <th>Kullanıcı Adı:</th>
                    <td>@Model.AppUser.UserName</td>
    
                </tr>
                <tr>
                    <th>Hakkında:</th>
                    <td>@Model.AppUser.About</td>

                </tr>
                @if (@Model.AppUser.UserName == User.Identity.Name)
                {
                    <tr>
                        <th>Email:</th>
                        <td>@Model.AppUser.Email</td>

                    </tr>
                    <tr>
                        <th>Telefon:</th>
                        <td>@Model.AppUser.PhoneNumber</td>

                    </tr>
                    
                }

            </table>
            <div class="middle-column">
                @foreach(var post in Model.Posts)
                {
                    <div class="card custombg">
                        <div class="card-body">
                            <div class="media">
                                <img src=@Model.AppUser.ProfilePicture alt="img" width="55" height="55" class="rounded-circle mr-3">
                                <div class="media-body">
                                    <div>
                                        <h5>@Model.AppUser.FirstName @Model.AppUser.LastName</h5>
                                        @if (post.IsRepost)
                                        {
                                            <div class="mb-2 text-danger"> @($"Bu paylaşım '{post.OriginalPostOwner}' kişisinden alıntılanmıştır")  </div>
                                        }
                                        <h6 class="small">@($"@{Model.AppUser.UserName}")</h6>
                                    </div>
                                    <hr>
                                    <p class="text-justify">
                                        @post.Content
                                    </p>
                                </div>
                                <small>@post.CreatedDate</small>
                            </div>
                            <div @*buttons*@>
                                <div class="btn-group text-sm-center float-right" role="group" aria-label="Basic example" style="margin-top:20px">

                                    <a asp-action="Favorite" asp-controller="Favorite" asp-route-id="@post.Id" style="margin-right:20px" type="button" class="btn btn-info rounded-circle btn-sm">
                                        <i class="bi-heart" style="color:black">
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">@post.Favorites.Count</span>
                                        </i>
                                    </a>


                                    <a data-target="/Comments/_ListComments/@post.Id" data-toggle="modal" style="margin-right:20px" type="button" class="commentview btn btn-info btn-sm rounded-circle">
                                        <i class="bi-chat" style="color:black">
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">@post.Comments.Count</span>
                                        </i>
                                    </a>
    
                                    @if (post.AppUser.UserName != User.Identity.Name && post.IsRepost == false)
                                    {
                                        <a asp-action="RePost" asp-controller="Posts" asp-route-id="@post.Id" style="margin-right:20px; color:black" class="btn btn-info btn-sm rounded-circle"><i class="bi-arrow-repeat"></i></a>
                                    }

                                    <a id="linkforcopy" onclick="copy(@post.Id)" style="margin-right:20px; color:black" class="btn btn-info btn-sm rounded-circle"><i class="bi-send"></i></a>
                                </div>

                                @if (post.AppUser.UserName == User.Identity.Name) {
                                    <a asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger btn-sm rounded-circle float-left " style="margin-top:20px"><i class="bi-trash"></i></a>
                                }

                            </div>
                        </div>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>

}

<script>
    function copy(id) {
        var link = `${window.location.host}/Posts/PostPage/${id}`
        navigator.clipboard.writeText(link);
        alert("Link koplayalandı!");
    }
</script>


